 .card {
    width: 18rem;
    width: calc(25% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    margin-left: 20px; 
    transition: transform 0.8s ease; 

  }
  .card-img-top {
    height: 380px; 
    object-fit: cover; 
    object-position: center; 
  }

  .card:last-child {
    margin-right: 0; 
  }
  
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  }
  footer {
    background-color: #f2f2f200;
    padding: 40px 20px;
    text-align: center;
  
    .footer-content {
        max-width: 800px;
        margin: 0 auto;
  
        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }
  
        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
        }
    }
  }