body {
    background-image: url('C:/users/user/desktop/proyecto/imagenes/fondo_body.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: rgba(0, 0, 0, 0.5); 
  }